* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* #region Header*/
.main-container {
    width: 70vw;
    margin: 50px auto;

    border: 3px solid #000;
    border-radius: 20px;
}
.tabs-list {
    height: 100px;
    width: 100%;
    padding: 0 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tab-item {
    list-style: none;
}
/* #endregion */